
  <h2><%= @restaurant.name %></h2>
  <p>Cuisine: <%= @restaurant.category %></p>
  <p>Phone: <%= @restaurant.phone_number %> </p>
  <p>Address: <%= @restaurant.address %> </p><br>

  <% @restaurant.reviews.each do |review| %>
    <p>Reviews: <%= review.content %> </p>
    <p>Rating: <%= review.rating %> </p><br>
  <% end %>


<%= link_to 'add a review', new_restaurant_review_path(@restaurant)%>
<br><br><br>
<%= link_to 'Back to all restaurants',  restaurants_path%>
<br><br><br>
